/* 
 css/styles.css 
 Student Name: Rawaa Rabah
 Student Id: 12325320
*/

:root {
    --bg: #faf7f2;
    --text: hwb(0 12% 88%);
    --muted: #6b6b6b;
    --brand: #216869;
    --brand-2: #49a078;
    --card: #ffffff;
    --border: #e9e3db;
}


body {
    margin: 0;
    font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    color: var(--text);
    background: var(--bg);
    line-height: 1.6;
}
/* =========================
   Global Styles & Reset
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  scroll-behavior: smooth;
}
/* =========================
   Header
========================= */ 
header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 4rem;
      background: var(--bg);
      font-weight: 500;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-left: 0 !important;
    margin-right: 0 !important;
      background: rgba(245,239,233,0.95);
      box-shadow: 0 1px 0 rgba(0,0,0,0.04);
      backdrop-filter: blur(0.5px);


    }
    

    header a {
      color: var(--brand);
      color: #216869;
      text-decoration: none;
      margin-left: 1.5rem;
      font-size: 0.95rem;
      font-weight: bold;
    }

    header a:hover {
      color: var(--brand-2);
    }
    header a:focus {
  color: #009688; 
  text-decoration: underline;
  font-weight: 770;
}

    header .logo {
      font-weight: 700;
      font-size: 1.2rem;
      color: var(--brand);
    }


/* =========================
   Hero Section
========================= */
.hero {
       background-image:  url("../images/bg.jpg");
      color: white;
      text-align: center;
      padding: 12rem 2rem;
      position: relative;
      background-size: cover !important;
      filter: brightness(1.06);
      background-position: center 55%;
      opacity: 0.90;
      background-repeat: no-repeat;
      

    }

    .hero::after {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }

    .hero-content {
      position: relative;
      z-index: 2;
      max-width: 700px;
      margin: 0 auto;
    }

    .hero h2 {
      background: var(--brand-2);
      color: #0f3737;
      display: inline-block;
      padding: 0.2rem 0.8rem;
      border-radius: 20px;
      font-size: 0.9rem;
      margin-bottom: 0.0rem;
    }

    .hero h1 {
      font-size: 2.4rem;
      margin: 0.5rem 0;
      font-weight: 800;
    }

    .hero p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .hero button {
      background: var(--brand);
      color: white;
      border: none;
      padding: 1rem 1.6rem;
      font-size: 1rem;
      border-radius: 30px;
      cursor: pointer;
      font-weight: bolder;
      
    }
.hero button a {
    text-decoration: none !important;
    color: white !important;
}

.hero button a:hover {
    font-weight: 800;
}

.hero button a:focus {
  background: #009688;
  text-decoration: none;
  font-weight: 750;
}
/* =========================
   About Section
========================= */
#about {
  display: flex !important;
  justify-content: center;
  gap: 20px;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 50px;
  padding-bottom: 50px;
   align-items: stretch !important;
}
#about .card {
  flex: 1;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 13px !important;
  padding-top: 10px !important;
  display: flex;
  flex-direction: column;
   align-items: stretch !important;
 height: 100% !important;
}


#about h3 {
  font-size: 1.6rem;
  margin-bottom: 20px !important;
  margin-top: 15px !important;
  font-weight: 750;
 
}

#about p {
  margin-bottom: 8px;
  
  
}

#about .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 12px;
  margin-bottom: 2px;
}
.tags ul {
  list-style: none;        
  padding: 0;
  margin: 0;
  display: flex;           
  gap: 0.8rem;             
}

.tags li {
  background-color: white;  
  padding: 0.3rem 0.7rem;
  border-radius: 20px;        
  font-size: 0.9rem;
  border: 0.2px solid rgb(161, 155, 155);
  
}
#about .tags {
  margin-top: auto; 
}
#about .card:last-child {
    padding-bottom: 52px !important;
    padding-top: 80px !important;
}
/* =========================
   Menu Section
========================= */
#menu {
  text-align: center;
  padding: 80px 80px;
  background-color: var(--bg);
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 60px;
  padding-top: 50px;
  margin-bottom: 60px;
}

#menu h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
   text-align: left;
   padding-left: 10px;

  
}

.menu-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-box {
  background-color: #fff;
  flex: 1;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 75px;
}

.menu-box h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #020202;
  padding-bottom: 15px !important;

}

.menu-box p {
  margin-bottom: 6px;
  font-weight: bold;
 
}

.menu-box data {
  float: right;
  font-weight: 600;
  color: #216869;
}

.mm {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 15px;
  font-weight: normal !important;
}

.note {
  margin-top: 20px;
  color: #777;
  text-align: left;

}

.menu-box .mm:not(:last-of-type) {
  border-bottom: 1px dotted #e9e3db !important;
  padding-bottom: 15px !important;
  margin-bottom: 12px !important;
}


.menu-box .mm:last-of-type {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* =========================
   Info Sections (Hours, Reserve, Find Us, Map)
========================= */

.info-sections {
  background-color: var(--bg);
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  padding: 0 80px !important;
}
.info-row {
  display: flex;
  justify-content: space-between;
   align-items: stretch !important;
  gap: 20px;
  margin-bottom: 60px !important;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 70px;
}
#hours {
  flex: 1;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 1px !important;
  padding-left: 17px !important;
  padding-right: 17px !important;
   align-self: stretch !important;
}

#hours h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 750;
  color: black;
}

#hours p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 1.8 !important;
}

#hours p:last-child {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 12px;
  padding-bottom: 8px;
}

#hours time {
  font-weight: 600;
  color: #333;
}
#contact {
  flex: 1;
  background-color: #fff;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
   align-self: stretch !important;
}

#contact h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: black;
  font-weight: 800;
}

#contact p {
  margin-bottom: 15px !important;
  line-height: 1.8 !important;
}

#contact a {
  text-decoration: none !important;
  color: #000000 !important;
  font-weight: 600 !important;
}

#contact a:hover {
  font-weight: 800;
  font-size: larger;
  text-decoration: underline;
}

#contact a.email {
  color: #2ea073 !important;
}

#contact a.email:hover {
  font-weight: 800;
  font-size: larger;
  text-decoration: underline;
}

#contact a:focus {
  outline: 2px solid #2e7d32;
  outline-offset: 3px;
  color: #2e7d32;
  text-decoration: underline;
}
#find-us {
  flex: 1;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 15px;
   align-self: stretch !important;
}

#find-us h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  padding: 11px 0 1px 17px;

}

#find-us address {
  font-style: normal;
  line-height: 1.2;
  padding-left: 11px;
  padding-top: 5px;
}

#find-us strong {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
  padding-left: 10px;
}

#find-us p {
  padding-left: 12px !important;
  padding-top: 20px !important;
}
#map {
  flex: 1;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
   align-self: stretch !important;
}

#map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 0;
}

/* Find us + Map*/
.info-row:last-of-type .footer-card,
.map-card {
  height: 250px;
  padding: 0px;
  
}
.map-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 20px;
  padding: 0px;
}

/* =========================
   Footer
========================= */
.site-footer {
  border-top: 2px solid #ddd;
  text-align: center;
  padding: 25px 10px;
  margin-top: 0px !important;
  font-size: 0.95rem;
  color: #555;
}

.site-footer a {
  color: #098d63;
  text-decoration: none;
  font-weight: 500;
}

.site-footer a:hover {
  text-decoration: underline;
}
.site-footer a:focus {
  color: #009688;
}
.info-row:last-of-type {
  padding-bottom: 0px; 
  margin-bottom: 0px;  
}
/*in mobile*/
@media only screen and (max-width: 780px) {
  #about,
  .menu-grid,
  .info-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 25px !important;
  }
  #hours,
  #contact,
  #find-us,
  #map {
    width: 95% !important;
    max-width: 95% !important;
    margin: 0 auto 25px auto !important;
  }
  body {
    overflow-x: hidden !important;
  }
  #menu,
  #about,
  .info-sections {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  header {
    flex-direction: column !important;
    gap: 8px;
    padding: 1rem !important;
  }

  header nav a {
    margin: 0 8px;
    font-size: 0.9rem;
  }
  h3, h4 {
    font-size: 1.2rem !important;
  }

  p, .mm {
    font-size: 0.9rem !important;
  }

  
  #map {
    height: 200px !important;
  }
}
@media only screen and (min-width: 1024px) {
  #about,
  .menu-grid,
  .info-row {
    flex-direction: row !important;
    align-items: flex-start !important;
  }

  header nav a {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
}

